# Remove all comments before use as .ccls does not support comments
# Detailed info at https://jdhao.github.io/2020/11/29/neovim_cpp_dev_setup/
clang
%h -x
%h c++-header
%cpp -std=c++17
%c -std=c18
%cu -std=c++17
# Linux
-I/home/<USER>/include
# MAC OS X
-I/Users/<USER>/include
# Add includes following `#include <...> search starts here:` from the output of
#   - g++ -E -x c++ - -v < /dev/null, or
#   - clang -v -fsyntax-only -x c++ /dev/null
# using -isystem
# Example
#-isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1
#-isystem/Library/Developer/CommandLineTools/usr/lib/clang/13.0.0/include
#-isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include
#-isystem/Library/Developer/CommandLineTools/usr/include
#-isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks
-I./<SUBPROJECT>/include
-DNUSE_BLIND_DAEMON
-DNUSE_LICENSE
-DNUSE_CWD_ROOT
-DCONST_PRODUCT_NAME="product_X"
-DCONST_PRODUCT_VERSION="0.0.0"
-DCOMDOM_MODE=COMDOM_MODE_SERVER
-DCOMDOM_PRODUCT=COMDOM_PRODUCT_COMDOM
-DLITTLE_ENDIAN
-DARCH_X86_64
-DLINUX
-D_BITS64_
-DMODULE_ID=mod_X_0_0_0
-DMODULE_MAJOR_VER=0
-DMODULE_MINOR_VER=0
-DMODULE_NAME="mod_X"
-DBINARY_MAJOR_VER=0
-DBINARY_MINOR_VER=0
-DBINARY_NAME="bin_X"
-DLOG_IDENTITY="log_identity"
-D__unix__
-D_NOD_UNIX
-D__CDT_PARSER__
