/**
 * @file {{FILEE}}
 * @author created by: {{NAME}}
 * @author created on: {{YEAR}}/{{MONTH}}/{{DATE}}
 * @author \n
 * @author Copyright (c) {{YEAR}} ESET, spol. s r.o.
 * @note current owner: {{NAME}} ({{EMAIL}})
 * @note IMPORTANT: Before doing any significant change to this file check your plan with the current owner to avoid unexpected behaviour.
 * @note committers: 
 */

#pragma once

{{CURSOR}}
